{% extends "base.twig" %}

{% block content %}

  <script type="text/javascript">
    window.__INITIAL_STATE__ = {{initial_state|json_encode(constant('JSON_PRETTY_PRINT'))}};
  </script>

  {% if environment == "development" %}

    <script src="http://localhost:{{ webpack_plugin_port }}/static/app.js"></script>

  {% else %}

    <script>
      {{js_string|raw}}
    </script>

    <style>
      {{css_string|raw}}
    </style>

  {% endif %}

  <div id="agreable-venues" class="agreable-venues">
    <h2 class="agreable-venues__time-message">
      Please turn on javascript to view the map
    </h2>
  </div>

{#
# Herbert issue rending wp-admin bar.
https://github.com/getherbert/herbert/issues/32#issuecomment-119422917
Setting on a variable so Twig doesn't render the returned response of true/1.
#}

{% endblock %}

{% block footer %}
{% set tmp = function('_wp_admin_bar_init') %}
{{ function('wp_footer') }}
{% endblock %}
